Repository TomFern/semaphore-demo-monorepo-javascript: changes, and which Semaphore blocks are due for each by the changed paths.
All: API service, Web app

API service:
  prologue:
    commands:
    - checkout
    - sem-version node 15.14
    - yarn install
  jobs:
  - name: Lint
    commands:
    - yarn workspace api lint
  - name: Units
    commands:
    - yarn workspace api start &
    - sleep 5
    - yarn workspace api test
    - killall node

Web app:
  prologue:
    commands:
    - checkout
    - sem-version node 15.14
    - yarn install
  jobs:
  - name: Lint
    commands:
    - yarn workspace web lint
  - name: Units
    commands:
    - yarn workspace web test

Test change-based execution
  packages/api/anyfile.txt
Due: API service

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

fix scripts
  packages/web/package.json
Due: Web app

fix scripts
  web/package.json
Due: none

readme
  README.md
Due: none

Update Semaphore configuration
  .semaphore/pipeline_2.yml
  .semaphore/pipeline_3.yml
  .semaphore/semaphore.yml
Due: none

Update Semaphore configuration
  .semaphore/pipeline_2.yml
Due: none

change in web
  packages/web/README.md
Due: Web app

update readme
  README.md
  pipeline.png
Due: none

update scripts, add gitignore
  .gitignore
  .semaphore/semaphore.yml
  api/package.json
  web/package.json
Due: none

install lerna, ready to publish
  api/yarn.lock
  lerna.json
  package.json
  packages/api/.eslintrc.js
  packages/api/LICENSE.md
  packages/api/README.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/schema.js
  packages/api/server.js
  packages/api/tests/country-name.js
  packages/api/yarn.lock
  packages/web/.gitignore
  packages/web/README.md
  packages/web/apollo-client.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/_app.js
  packages/web/pages/api/hello.js
  packages/web/pages/capitals.js
  packages/web/pages/index.js
  packages/web/public/favicon.ico
  packages/web/public/vercel.svg
  packages/web/styles/Home.module.css
  packages/web/styles/globals.css
  packages/web/tests/integration/capitals.js
  packages/web/tests/unit/hello.js
  packages/web/yarn.lock
  web/yarn.lock
Due: API service, Web app

v1.0.0
  lerna.json
  packages/api/package-lock.json
  packages/api/package.json
Due: API service

name
  packages/api/package.json
  packages/web/package.json
Due: API service, Web app

v1.1.0
  lerna.json
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: API service, Web app

u
  packages/api/server.js
Due: API service

v1.1.1
  lerna.json
  packages/api/package-lock.json
  packages/api/package.json
Due: API service

v1.1.2
  lerna.json
  packages/api/package-lock.json
  packages/api/package.json
Due: API service

Update Semaphore configuration
  .semaphore/pipeline_2.yml
  .semaphore/semaphore.yml
Due: none

v1.1.3
  lerna.json
  packages/api/package-lock.json
  packages/api/package.json
Due: API service

u
  packages/api/package.json
Due: API service

fix typo
  api/package.json
Due: none

v1.1.4
  lerna.json
  packages/api/package-lock.json
  packages/api/package.json
Due: API service

v1.2.3
  lerna.json
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/package-lock.json
  packages/web/package.json
Due: API service, Web app

u
  packages/api/.eslintrc.js
  packages/api/LICENSE.md
  packages/api/README.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/schema.js
  packages/api/server.js
  packages/api/tests/country-name.js
  packages/api/yarn.lock
  packages/web/.gitignore
  packages/web/README.md
  packages/web/apollo-client.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/_app.js
  packages/web/pages/api/hello.js
  packages/web/pages/capitals.js
  packages/web/pages/index.js
  packages/web/public/favicon.ico
  packages/web/public/vercel.svg
  packages/web/styles/Home.module.css
  packages/web/styles/globals.css
  packages/web/tests/integration/capitals.js
  packages/web/tests/unit/hello.js
  packages/web/yarn.lock
Due: API service, Web app

Path conditions:
  API service: any of: packages/api/
  Web app: any of: packages/web/
